.card-image {
	height: auto;
	width: 100%;
	padding: 50px;

}

.card-description {
	bottom: 20px;
	position: fixed;
	h5,
	h4,
	p,
	i,
	a {
		color: white;
	}
	a {
		text-underline-position: below;
	}

}

.card-section:hover .overlay {
	background: pink;
	transition: .9s;
}
