body {
    position: relative;
    background: white;
}

.introSection {
    text-align: center;
    .jumbotron {
        width: 60%;
        margin-left: 20%;
    }
}

.section {
    transition: ease-in .5s;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.darkroom {
    background: url('https://smosshor.github.io/jackfogel/src/img/darkroom/IMG_2303.JPG');
}

.breathe {
    background: url('https://smosshor.github.io/jackfogel/src/img/breathe/IMG_7658.jpg');
}


.pavilion {
    background: url('https://smosshor.github.io/jackfogel/src/img/aqua/Aqua_Pavilion_Rendering.jpg');
}
